@import url(http://fonts.googleapis.com/css?family=Exo+2);
*{font-family: 'Exo 2';}
#main{background-color:#bdc3c7;width:580px;margin: 0 auto;padding: 20px;border-radius: 20px;border: 3px solid #7f8c8d;}
h1 {color: #34495e;}
.number {
  margin: 0 auto;
  background-color: #1abc9c;
  color: #ecf0f1;
  display: inline-block;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

#neg {
  margin: 0 auto;
  background-color: #1abc9c;
  color: #ecf0f1;
  display: inline-block;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}

#push {
  background-color: #44a0de;
  color: #ecf0f1;
  display: inline-block;
  border-radius: 20px;
  padding: 15px;
  width: 55px;
  height: 25px;
  text-align: center;
}

.operator {
  background-color: #9b59b6;
  color: #ecf0f1;
  display: inline-block;
  border-radius: 20px;
  padding: 15px;
  margin-top: 10px;
  width: 35px;
  height: 25px;
  text-align: center;
}

#clear {
  background-color: #44a0de;
  color: #ecf0f1;
  display: inline-block;
  border-radius: 20px;
  padding: 15px;
  width: 55px;
  height: 25px;
  text-align: center;
}

#answer {
  background-color: #ecf0f1;
  color: #2c3e50;
  width: 480px;
  height: 30px;
  padding: 10px;
  border: 3px solid #7f8c8d;
  border-radius: 7px;
  margin-bottom: 10px;
  text-align: right;
  vertical-align: middle;
}
#queue{
  background-color: #ecf0f1;
  color: #2c3e50;
  width: 480px;
  height: 100px;
  padding: 10px;
  border: 3px solid #7f8c8d;
  border-radius: 15px;
  margin: 10px 0;
}






